html, body {
	font-family: "Ubuntu condensed", Sans !important;
}
input, button, select, textarea {
	font-family: "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#content {
	padding-left: 10px;
	padding-right: 10px;
}
.box-content
{
	overflow: visible;
}

/* Fix filter fields width
 *
 *	admin: catalog/product
 *	admin: sale/customer
 * ----------------------------------------------*/
input[name=filter_date_added],
input[name=filter_email],
input[name=filter_ip],
input[name=filter_model],
input[name=filter_name]
{
	width: 100px;
}

input[name=filter_price],
input[name=filter_quantity]
{
	width: 40px;
}

select[name=filter_approved]
{
	width: 40px;
}
select[name=filter_status]
{
	width: 70px;
}
select[name=filter_customer_group_id]
{
	width: 100px;
}
