html, body {
	font-family: "Ubuntu condensed", Sans !important;
}
input, button, select, textarea {
	font-family: "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#content {
	padding-left: 10px;
	padding-right: 10px;
}
.box-content
{
	overflow: visible;
}
