html, body {
	font-family: "Ubuntu condensed", Sans !important;
}
input, button, select, textarea {
	font-family: "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#content {
	padding-left: 10px;
	padding-right: 10px;
}
.box-content
{
	overflow: visible;
}

/* admin: catalog/product
------------------------------------------------*/

input[name=filter_name],
input[name=filter_model]
{
	width: 100px;
}

input[name=filter_price],
input[name=filter_quantity]
{
	width: 40px;
}

select[name=filter_status]
{
	width: 100px;
}
